################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TicTacToe/obj/Debug
/img/w12a.png
/img
/obj/Debug
